<section class="container infoblock">
    <div class="row">
        <div class="col-xs-12 col-sm-8 infoblock__text">
            <h1 class="text--title">Titulo de la categoría</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum, eros eget tincidunt auctor, eros urna dictum massa, at ornare nunc elit quis erat. Proin at velit mi. In tellus neque, tristique eget erat ac, molestie aliquet leo. Fusce enim libero, mollis ut convallis sed, sollicitudin eu nunc. Nam nibh nulla, cursus eget euismod non, accumsan vestibulum metus. Vivamus vitae tristique orci. Aenean faucibus euismod leo vel mattis. Cras iaculis eleifend finibus.</p>
        </div>
        <div class="col-xs-12 col-sm-4 infoblock__images"> 
            {{> @imagen-hover-text width="300" height="180"}}
            {{> @imagen-hover-text width="300" height="180"}}
        </div>
    </div>
    <div class="row infoblock__slide">
        <div class="carousel col-xs-12 nopaddings">
            <div class="col-xs-12 col-sm-4">
                {{> @imagen-hover-text width="300" height="180"}}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{> @imagen-hover-text width="300" height="180"}}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{> @imagen-hover-text width="300" height="180"}}
            </div>
        </div>
    </div>
</section>