<section class="group-categorias container">
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            {{> @imagen-hover-text width="300" height="250"}}
        </div>
        <div class="col-xs-6 col-sm-4">
            {{> @imagen-hover-text width="300" height="250"}}
        </div>
        <div class="col-xs-6 col-sm-4">
            {{> @imagen-hover-text width="300" height="250"}}
        </div>
        <div class="col-xs-6 col-sm-4">
            {{> @imagen-hover-text width="300" height="250"}}
        </div>
        <div class="col-xs-6 col-sm-4">
            {{> @imagen-hover-text width="300" height="250"}}
        </div>
        <div class="col-xs-6 col-sm-4">
            {{> @imagen-hover-text width="300" height="250"}}
        </div>
        <div class="col-xs-6 col-sm-4">
            {{> @imagen-hover-text width="300" height="250"}}
        </div>
    </div>
</section>