<section class="group-categorias2 container">
    <div class="row">
        <div class="col-xs-4 col-sm-4">
            {{> @imagen-hover-text--version2 width="80" height="80"}}
        </div>
        <div class="col-xs-4 col-sm-4">
            {{> @imagen-hover-text--version2 width="80" height="80"}}
        </div>
        <div class="col-xs-4 col-sm-4">
            {{> @imagen-hover-text--version2 width="80" height="80"}}
        </div>
        <div class="col-xs-4 col-sm-4">
            {{> @imagen-hover-text--version2 width="80" height="80"}}
        </div>
        <div class="col-xs-4 col-sm-4">
            {{> @imagen-hover-text--version2 width="80" height="80"}}
        </div>
        <div class="col-xs-4 col-sm-4">
            {{> @imagen-hover-text--version2 width="80" height="80"}}
        </div>
    </div>
</section>