<section class="productos-destacados container">
    <div class="row">
        <div class="col-xs-12 infoblock__text">
            <p class="text--subtitle">¿Quieres añadir algún accesorio?</p>
        </div>
        <div class="carousel-products col-xs-12 nopaddings">
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
            {{> @board-product width="250" height="270"}}
        </div>
    </div>
</section>