<div class="board-product2">
    <img class="img-full" src="https://picsum.photos/{{width}}/{{height}}" alt="Titulo de imagen"/>
    <div class="board-product2__name">
        <p class="text btn btn--link text-color--white text--center">Oso Peluche</p>
        <div class="board-product2__price">
            <p class="text text-color--color1 text--center">10,50€</p>
        </div>
    </div>
    {{#if boton}}
    <div class="board-product2__action">
        <p class="text text-color--color1 text--center">Añadir <i class="fas fa-gifts"></i></p>
    </div>
    {{/if}}
</div>