<div class="imagen-info2">
    <img class="img-full--circle img-center" src="https://picsum.photos/{{width}}/{{height}}" alt="Titulo de imagen"/>
    <div class="imagen-info2__textlink">
        <p class="btn btn--link--light">Enlace 1</p>
    </div>
</div>