<div class="imagen-info">
    <img class="img-full" src="https://picsum.photos/{{width}}/{{height}}" alt="Titulo de imagen"/>
    <div class="imagen-info__textlink bk-color1--70">
        <p class="btn btn--link text-color--white">Enlace 1</p>
    </div>
</div>